.heading {
    font-size: 30px;
    width: 100%;
    margin: 0px; 
    font-family: 'Rampart One', cursive;
}

.note {
    font-size: 28px;
    color: black;
}

body {
    background-size: cover;
}

.div_speed  {
    float: left;

}
.div_volume {
    float: right;
}

.div_speed_img , .div_volume_img {
    width: 200px;
    border-radius: 100px;
}

#speed, #volume {
 font-size: 37px;
 font-family: 'Festive', cursive;

}

.play_button {
    font-family: 'Festive', cursive;
    font-size: 30px;
    width: 120px;
    margin-top: 20px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 170px;
   
}

